



<div class="container mt-5 ">

  <div class="card">
    <div class="input-group rounded rech">
      <input type="search" class="form-control rounded" placeholder="Secteur d'activité " aria-label="Search" aria-describedby="search-addon" name ='secteur'[(ngModel)]="secteur" (ngModelChange)="Search()"/>
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <!-- <input type="text" class="form-control rech" name ='secteur'[(ngModel)]="secteur" (ngModelChange)="Search()" placeholder="Enter le secteur d'activité qui vous interesse" > -->

    <div class="row rounded border" *ngFor="let e of tousEmplois |paginate:{ itemsPerPage:5,currentPage:p};let i = index   " style="margin-top:40px ;">
      <div class="col-md-4 sec">

        <!-- <span>{{e.photo}} c</span>&nbsp; -->

        <img [src]="'http://localhost:3000/uploads/images/users/' + e.photo" alt="" class="img-fluid">
        <!-- <span>{{e.candidatures['niveau']}} e</span>  -->

      </div>
      <div class="col-md-8" style="width: 80%;">
        <h5 class="card-title badge">{{e.titre_emploi}}</h5>

            <!-- <p class="card-text"><strong>Secteur:</strong>{{e.secteur}} </p> -->
              <p class="card-text"><strong>Reference: </strong>{{e.ref_emploi}}</p>
              <P class="card-text "><strong>Secteur:</strong>{{e.secteur}} </P>
              <p class="card-text"><strong>Date expiration:</strong>{{e.date_expiration}} </p>
              <p class="card-text"><strong>Detail de l'offre: </strong> <br>{{e.descriptif_emploi.slice(0,250)+".."}}</p>

               <p class="card-text" > <i class="fa fa-2x fa-map-marker  " aria-hidden="true" style="color:#389cb4; margin-top:20px ; margin-right: 10px;" ></i>Rue: {{convert(e.adresse).street}}, Ville: {{convert(e.adresse).city}}, Code Postal: {{convert(e.adresse).zipcode}}</p>
               
              <div class="actions">
                <button class="btn btn-primary  "  (click)="openDialog(e)">Détail </button>
              <button class="btn btn-success btnp" (click)="onPostuler(e)" [routerLink]="['/FrontOffice/postuler']" [disabled]="!isBenificier" >Postuler</button>



              </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>



</div>
