
<!DOCTYPE html>
<div class=" container bg-light rounded h-100 p-4">
<div class="title">
    <h3> Liste des Avis </h3>
</div>




<table class="table table-bordered border-primary text-center my-3">

    <thead>
        <tr class="table-dark">
            <th>Nom User</th>
            <th>Prenom User </th>
            <th>Id Produit</th>
            <th>Text </th>
            <th>Date Avis</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let item of listavis" class="table-active">
             <td> {{item.prenom}} </td>
             <td> {{item.nom}} </td>
             <td> {{item.id_avis}}  </td>
             <td> {{item.text }}  </td> 
             <td> {{item.dateA}} </td>
             <td>
                
                 <a (click)="delete(item.id_produit)" class="text-danger">
                    <i class="fas fa-trash fa-lg mx-1"></i></a>
                </td>
         </tr>
         </tbody>
</table>


