<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/FrontOffcie/home">
      <img src="assets/img/logo-amal.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item me-1">
          <a class="nav-link" aria-current="page" routerLink="/FrontOffice/home">Home</a>
        </li>
        <!-- menu gestion emploi -->
        <li class="nav-item me-1 dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<!--            <i class="fa fa-bag me-1"></i>-->
<!--            <i class="fa fa-briefcase" aria-hidden="true"></i>-->
            Offres Emplois
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="/FrontOffice/tousemplois">List des Offres d'emploi</a></li>
            <li><a class="dropdown-item" routerLink="/FrontOffice/candidatures">Candidatures</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
<!--            <i class="fa fa-laptop me-1"></i>-->
            Gestion de Formation
          </a>
          <ul class="dropdown-menu">
            <li> <a  routerLink="/FrontOffice/annonceFormation" class="dropdown-item">Annonce deFormations</a></li>
            <li> <a routerLink="/FrontOffice/formationEnLigne" class="dropdown-item">Formation en ligne</a></li>
            <li> <a routerLink="/FrontOffice/formationEnLigne/PlaylistFormation" class="dropdown-item">Playlist</a></li>
          </ul>
        </li>

        <li class="nav-item me-1">
          <a class="nav-link" routerLink="demandeaide">
<!--            <i class="fa fa-laptop me-1"></i>-->
            Demandes Aide</a>
        </li>

        <li class="nav-item me-1">
          <a class="nav-link" aria-current="page" routerLink="/FrontOffice/dons">
<!--            <i class="fa fa-laptop me-1"></i>-->
            Dons</a>
        </li>

        <!-- gestion boutique -->
        <li class="nav-item me-1">
          <a class="nav-link active" aria-current="page" routerLink="/FrontOffice/storeP">
<!--            <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i>-->
            StoreProduits</a>
        </li>

        <li class="nav-item me-1">
          <a class="nav-link active" aria-current="page" routerLink="/FrontOffice/choose-inscription">
<!--            <i class="fa fa-user-plus me-1" aria-hidden="true"></i>-->
            Inscription</a>
        </li>

        <li class="nav-item me-1">
          <a class="nav-link active" aria-current="page" routerLink="/FrontOffice/reset-password">
<!--            <i class="fa fa-unlock me-1" aria-hidden="true"></i>-->
            Reset Password</a>
        </li>

      </ul>
      <div class="d-flex">

        <button class="btn btn-primary" routerLink="/FrontOffice/login" type="click">LogIn</button>
      </div>
    </div>

  </div>

</nav>
<router-outlet></router-outlet>
<footer>

</footer>



