<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="#">
            <img src="assets/img/logo-amal.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
         </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Gestion de Formation</a>
            <div class="dropdown-menu bg-transparent border-0">
               
               <li> <a  routerLink="/FrontOffice/ListetousFormation" class="dropdown-item">Liste des Formations</a></li>
  
              <li> <a routerLink="/FrontOffice/ListetousTutoriels" class="dropdown-item">Liste des Tutoriels</a></li>
            </div>
        </div>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary"  type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- IMAGE NAV BAR -->
<div class="card bg-dark text-white">
  <img class="card-img" src="assets/img/NAVBAR.jpg" alt="Card image"  width="50px" height="300px">
</div>



  <router-outlet></router-outlet>
  <footer>
    
  </footer>