div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div a{
    background-color: #dc1d1d;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: rgb(61, 159, 240);
    font-weight: 600;
}