<div class="sidebar pe-4 pb-3" [class.open]="isOpenSideBar">
  <nav class="navbar bg-light navbar-light">
    <a class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>AMAL</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img class="rounded-circle" width="40" height="40" [src]="currentUser?.photo !== null ? URL+currentUser?.photo: 'assets/images/users/USER-UNKNOWN.jpg'" alt="">
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">{{currentUser?.username}}</h6>
        <span>{{currentUser?.role}}</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <div  *ngFor="let menu of menus">

        <div *ngIf="menu.subMenu; else SimpleMenu" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="me-2" [classList]="menu.icon"></i>{{menu.text}}</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a  *ngFor="let subMenu of menu?.subMenu"
                [routerLink]="subMenu.path"
                routerLinkActive="active"
                class="dropdown-item">{{subMenu.text}}</a>
          </div>
        </div>

        <ng-template #SimpleMenu>
          <a [routerLink]="menu.path"
             routerLinkActive="active"
             class="nav-item nav-link">
            <i class="me-2" [classList]="menu.icon"></i>{{menu.text}}
          </a>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
