<!--<mat-card-header>-->
<!--  <mat-card-title>User Detail</mat-card-title>-->
<!--</mat-card-header>-->
<mat-dialog-content>
<!--    <pre><code>{{user | json}}</code></pre>-->
  <div class="user-details-container">
    <div class="user-details-cover">
      <img width="100%" height="150px" src="assets/images/template/cover-01.png">
    </div>
    <div class="user-details-navbar">
      <div class="user-details-avatar">
        <img width="100%" height="100%" [src]="(photo) ? 'assets/images/users/'+photo : 'assets/images/users/USER-UNKNOWN.jpg'">
      </div>
      <div class="user-details-name">{{name | titlecase}}</div>
    </div>
    <mat-list [ngSwitch]="account?.role">
      <ng-container *ngSwitchCase="'DOCTOR'">
        <div mat-subheader>Doctor Information's</div>
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>phone_android</mat-icon>-->
<!--          <div mat-line>{{userDoctor?.phone}}</div>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>mail</mat-icon>-->
<!--          <div mat-line>{{userDoctor?.email}}</div>-->
<!--        </mat-list-item>-->
        <mat-list-item>
          <mat-icon mat-list-icon>school</mat-icon>
          <div mat-line>{{userDoctor?.specialty}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>fact_check</mat-icon>
          <div mat-line>
            <mat-chip-list aria-label="">
              <mat-chip *ngFor="let a of userDoctor?.assurance" >{{a}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-list-item>
      </ng-container>

      <ng-container *ngSwitchCase="'BENEVOLE'">
        <div mat-subheader>Benevole Information's</div>
        <mat-list-item>
          <mat-icon mat-list-icon>key</mat-icon>
          <div mat-line>{{account?.username}}</div>
        </mat-list-item>
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>phone_android</mat-icon>-->
<!--          <div mat-line>{{userBenevole?.phone}}</div>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>mail</mat-icon>-->
<!--          <div mat-line>{{userBenevole?.email}}</div>-->
<!--        </mat-list-item>-->
        <mat-list-item>
          <mat-icon mat-list-icon>school</mat-icon>
          <div mat-line>{{userBenevole?.profession}}</div>
        </mat-list-item>
      </ng-container>

      <ng-container *ngSwitchCase="'BENEFICIER'">
        <div mat-subheader>Beneficier Information's</div>
        <mat-list-item>
          <mat-icon mat-list-icon>key</mat-icon>
          <div mat-line>{{account?.username}}</div>
        </mat-list-item>
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>phone_android</mat-icon>-->
<!--          <div mat-line>{{userBeneficier?.phone}}</div>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>mail</mat-icon>-->
<!--          <div mat-line>{{userBeneficier?.email}}</div>-->
<!--        </mat-list-item>-->
        <mat-list-item>
          <mat-icon mat-list-icon>credit_card</mat-icon>
          <div mat-line>{{userBeneficier?.carteHandicapNumber}} , is valid To {{userBeneficier?.dateExpiration | date}}</div>
        </mat-list-item>
      </ng-container>

      <ng-container *ngSwitchCase="'ORGANIZATION'">
        <div mat-subheader>Organization Information's</div>
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>phone_android</mat-icon>-->
<!--          <div mat-line>{{userOrganization?.phone}}</div>-->
<!--        </mat-list-item>-->
<!--        <mat-list-item>-->
<!--          <mat-icon mat-list-icon>mail</mat-icon>-->
<!--          <div mat-line>{{userOrganization?.email}}</div>-->
<!--        </mat-list-item>-->
        <mat-list-item>
          <mat-icon mat-list-icon>apartment</mat-icon>
          <div mat-line>{{userOrganization?.formeJuridique}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>fingerprint</mat-icon>
          <div mat-line>{{userOrganization?.matriculeFiscale}}</div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Retour</button>
</mat-dialog-actions>

