<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Réference</th>
        <th scope="col">Secteur</th>
        <th scope="col">Titre</th>
        <th scope="col">Decription</th>
        <th scope="col"style="width: 20%;">Date expiration</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let e of listEmplois | paginate:{itemsPerPage:5,currentPage:p} ;let i = index ">
        <th scope="row" >{{e.ref_emploi}}</th>
        <td>{{e.secteur}}</td>
        <td>{{e.titre_emploi}}</td>
        <td>{{e.descriptif_emploi}}</td>
        <td>{{e.date_expiration}}</td>
        <td style="min-width: 130px">
          <button class="btn btn-primary btn-lg " [routerLink]="['/BackOffice/'+rol+'/modifieremploi',e.id_emploi]"  >
            <i class="fa fa-wrench" aria-hidden="true"></i>
          </button>&nbsp;
          <button class="btn btn-danger btn-lg" (click)="delete(e)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

