<!-- <embed src="http://localhost:3000/uploads/cv/c03b53bb-b5a7-48ce-b99c-3d29e30042d1.pdf" width="1000" height="800" type="application/pdf"/> -->
<!-- <embed [src]="http://localhost:3000/uploads/cv/' +url_cv" width="1000" height="800" type="application/pdf"/> -->
<iframe src="http://localhost:3000/uploads/cv/c03b53bb-b5a7-48ce-b99c-3d29e30042d1.pdf" width="100%" height="100%" ></iframe>

<!-- <img [src]="http://localhost:3000/uploads/images/users/3fd5bee6-b215-4fe6-b7a9-5437ebd1713f.jpg" alt="" class="img-fluid"> -->