<!-- IMAGE NAV BAR -->
<div class="card bg-dark text-white">
  <img class="card-img" src="assets/img/NAVBAR.jpg" alt="Card image"  width="50px" height="300px">
</div>

<h3 class="heading">video gallery</h3>
<div class="container">
<div class="main-video">

    <div class="video">
<video src="assets/video/handicapetscolarité.mp4" controls muted ></video>
<h3 class="title">01. video title</h3>

    </div>
</div>

<div class="video-list">

    <div class="vid active" >
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">01. video title</h3>
    </div>


    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">02. video title</h3>
    </div>

    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">03. video title</h3>
    </div>

    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">04. video title</h3>
    </div>

    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">05. video title</h3>
    </div>

    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">06. video title</h3>
    </div>

    <div class="vid">
        <video src="assets/video/handicapetscolarité.mp4"  muted ></video>
        <h3 class="title">07. video title</h3>
    </div>



</div>

</div>

<script>
let listvideo = document.querySelectorAll('.video-list .vid');
let minvideo = document.querySelector('.main-video .video');
let title = document.querySelectorAll('.main-video .title');
listvideo.forEach(video =>
  {
    // video.onclick()=> {
    //   listvideo.forEach(vid =>vid.classList.remove('active'));
    //   video.classList.add('active');
    //   if(video.classList.contains('active')){
    //     let src=video.children[0].getAttribute('src');
    //     minvideo.src = src;
    //     let text =video.children[1].innerHTML;
    //   };
    // };
  });

</script>
