<div class="container-xxl position-relative bg-white d-flex p-0">

  <!-- Sidebar Start -->
  <app-side-bar [isOpenSideBar]="isOpenSideBar" (CurrentUserEvent)="onGetCurrentUserEvent($event)"></app-side-bar>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div [style.z-index]="100" class="content" [class.open]="isOpenSideBar">
    <!-- Navbar Start -->
    <app-navbar (OnToggleSidebarEvent)="isOpenSideBar = $event"></app-navbar>
    <!-- Navbar End -->

    <router-outlet></router-outlet>

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
  </div>
  <!-- Content End -->

</div>
