
<div class="container-xxl position-relative bg-white d-flex p-0">
 


    <!-- Sidebar Start -->
   <app-side-bar></app-side-bar>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">

        <!-- Navbar Start -->
     <app-navbar></app-navbar>
        <!-- Navbar End -->

        <!-- Content Start -->
        
        <router-outlet></router-outlet>
       


    

        <!-- Footer Start -->
       <app-footer></app-footer>
        <!-- Footer End -->




    </div>
    <!-- Content End -->
   

    <!-- Back to Top -->
    <a routerLink="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>