
<h3 style="margin-left: 40px; margin-bottom: 40px; margin-top: 40px;">{{titrepage}}</h3>

<div class="container-fluid" style="width: 60% ;">
<form  #form="ngForm" (ngSubmit)="onSubmit()"> 

    <div class="mb-3">
      <label class="form-label">Niveau Scolaire</label>
    <select class="form-select form-control"   name="niveau"[(ngModel)]="candidature.niveau" ngModel  #niveau="ngModel" required >
        <option selected>niveau scolaire</option>
        <option value="Autre">Autre</option>
        <option value="BTP">BTP</option>
        <option value="BTS">BTS</option>
        <option value="Bac+2">Bac+2</option>
        <option value="Bac+3">Bac+3</option>
        <option value="Bac+5">Bac+5</option>
    </select>
    </div>
    <div *ngIf="niveau.touched && niveau.invalid"class="alert alert-danger">
    Merci de sélectioner le niveau d'étude
   </div>


      <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea class="form-control" name="desc" placeholder="Message" rows="3" [(ngModel)]="candidature.message"   #msg="ngModel" required minlength="10"></textarea>
      </div>
      <div *ngIf="msg.touched && msg.invalid"class="alert alert-danger">
        <div *ngIf="msg.errors?.['required']">Le message  est obligatoire </div>
        <div *ngIf="msg.errors?.['minlength']">Le message doit se composée de 10 caractére au minimum</div>
      </div>

      <div class="mb-3">
        <label for="formFileLg" class="form-label"> Attacher votres CV</label>
        <input class="form-control form-control-lg" id="formFileLg" (change)="selectFile($event)" type="file" [(ngModel)]="candidature.url_cv" >
      </div>
 
    <button type="submit" class="btn btn-primary"   [disabled]="form.invalid" > postuler </button>
 </form>
</div>