
     <div class="card">
    <div class="card-header text-white bg-info">
      S'enregistrer {{mode}}
    </div>
    <div class="card-body">
      
     <form  novalidate #registerForm="ngForm" (ngSubmit)="mode === 'ADD_PRODUCT' ? onAddProduct(): onEditProduct()"  >
  
    <fieldset >
      <legend>{{operation }} votre Produit </legend>

        <div class="mb-3">
          <label  class="form-label">Nom Produit </label>
          <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="Prod.libelleP" name="libelleP"  required  minlength="3"
          #nomP="ngModel"   />
        </div>
        <div *ngIf=" nomP.touched && !nomP.valid" class="alert alert-danger">Nom is required</div>
        <div *ngIf="nomP.errors?.['minlength']" class="alert alert-danger"> Title must have 3 character </div>
      <div class="mb-3">
        <label  class="form-label">Prix Produit</label>
        <input class="form-control" type="number"   name="prixP" placeholder="saisir un prix " [(ngModel)]="Prod.prixP"
               required  min="0" #prixP="ngModel" max="1000">
      </div>
      <div *ngIf="prixP.touched && prixP.invalid"  class="alert alert-danger">

        <div *ngIf="prixP.errors?.['required']"  >Prix is required & number   </div>
        <div *ngIf="prixP.errors?.['min']" >Prix doit etre positif  </div>
        <div *ngIf="prixP.errors?.['max']" > Prix doit inferieur à 1000</div>

      </div>

        <div class="mb-3">
            <label  class="form-label">Description </label>
            <input type="text" class="form-control"  placeholder="saisir un mot" [(ngModel)]="Prod.descriptionP" name="descriptionP"
            required #descriptionP="ngModel">
          </div>
          <div *ngIf="descriptionP.touched && !descriptionP.valid" class="alert alert-danger" >Description is required</div>

          <div class="mb-3">
            <label  class="form-label">Contact Vendeur </label>
            <input type="number" id="NumVend" class="form-control" placeholder="ecrire votre numero telephone " [(ngModel)]="Prod.numVendeur"
            name="numVend" required pattern="[0-9]{8}" #numVend="ngModel"  >
          </div>
          <div *ngIf="numVend.touched && !numVend.valid" class="alert alert-danger">numero Vendeur is required and number </div>
        <div *ngIf="numVend.errors?.['pattern']" class="alert alert-danger"> numero dois etre 8 chiffres </div>


        <div class="form-group">
          <label for="cathegorie" class="form-label mt-4"  >Categorie</label>
          <select class="form-select" id="cathegorie" name="cathegorie" [(ngModel)]="Prod.cathegorie" >
            <option [ngValue]="'Alimentation'">Alimentation</option>
            <option [ngValue]="'Decoration'">Decoration </option>
            <option [ngValue]="'Accessoires'">Accessoires</option>
            <option [ngValue]="'Artistique'">Artistique</option>
            <option [ngValue]="'Patisserie'">Patisserie </option>
          </select>
        </div>
     

      <div class="mb-3">
        <label for="formFile" class="form-label">Image Produit </label>
        <input class="form-control" id="formFile"  name="photoP"
        type="file" accept="image/*" (change)="selectFile($event)"

        [(ngModel)]="Prod.photoP"
        placeholder="Picture ..."
        #picture="ngModel"
        required>
      </div>
      <div
      *ngIf="picture.touched && picture.invalid"
      class="alert alert-danger"
    >
      Picture is required !
    </div>
      <div class="text-right">

      <button type="submit"  class="btn btn-info" [disabled]="registerForm.invalid" >{{(mode === 'ADD_PRODUCT') ? 'Ajouter' : 'Editer'}} </button>

    </div>
    </fieldset>

  </form>
</div>
</div>





