
<!-- ************************liste formation du benevole ********************* -->
<h2 class="text-center">Liste des formations </h2>

   <button class="btn btn-success btn-lg" routerLink="/BackOffice/addFormation" mat-raised-button  (click)="addformation()"> Ajouter Formation </button>
<button   class="btn btn-danger btn-lg" mat-raised-button (click)="removeformation()"> Supprimer Formation </button>
<button  class="btn btn-secondary btn-lg" mat-raised-button (click)="modifierformation()"> Modifier Formation</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Theme</th>
      <th scope="col">descriptif</th>
      <th scope="col">date debut</th>
      <th scope="col">date Fin</th>
      <th scope="col">Nbr Jours</th>
      <th scope="col">Nbr personnes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of listeFormations ;let i= index">
    
     
    <td>{{f.theme}}</td>
<td>{{f.descriptif}}</td>
<td>{{f.date_debut}}</td>
<td>{{f.dateFin}}</td>
<td>{{f.Nbr_jours}}</td>
<td>{{f.Nbr_personnes}}</td>
    </tr>
 
  </tbody>
</table>