<!-- <p>ajouter-emplois works!</p> -->
<form  #form="ngForm" (ngSubmit)="onSubmit()"> 

    <div class="mb-3">
    <select class="form-select form-control" aria-label="Default select example " >
        <option selected>Secteur</option>
        <option value="1">Administration</option>
        <option value="2">Banque</option>
        <option value="3">Electronique</option>
        <option value="4">Industrie</option>
        <option value="3">Informatique</option>
        <option value="6">Santé</option>
    </select>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" id="titre" placeholder="Titre" ngModel required>
    </div>
   

    <div class="mb-3">
        <input type="text" class="form-control" id="ref" placeholder="Réference" ngModel >
    </div>


      <div class="mb-3">
        <textarea class="form-control" id="desc" placeholder="Description" rows="3" ngModel></textarea>
      </div>
 
    <div class="mb-3">
        <input type="date" class="form-control" id="ref" placeholder="Date d'expication" ngModel>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >Submit</button>
  </form>